
.container{
    display: flex;
    gap: 10vw;
    align-items:center;
    padding: 20px;
    margin-right: 10px;
    background-color: rgb(47, 44, 44);
    color: aliceblue;
    border-radius: 20px;
    column-count: 2;

}
.textarea {
    width: 50vw;              
    height: 20vh;             /* Set the height of the input */
    font-size: 14px;          /* Increase the font size */
    padding: 10px;            /* Add some padding inside the input */
    border: 1px solid #ccc;   /* Optional: add a border around the input */
    border-radius: 4px;       /* Optional: round the corners */
  }
  .others{
    font-size: 14px;

  }
  .btnp{
    width: 20vw;
    height: 20px; 
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

  }
  .button{
    margin: 20px;
    width: 20vw;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(98, 225, 98);
    

  }
  .description{
    text-align: center;

  }
  .button:hover{
    background-color: rgb(77, 178, 77)

  }