
.logoutbutton{
    background-color: rgb(203, 47, 47);
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    float: right;
    margin-bottom: 20px;
}
.logoutbutton:hover{
    background-color: red;

}